@import '../../../App-styles/mixins';
@import '../../../App-styles/variables';

.nav-menu-dropdown{
    @include size(220px, 100vh, 0, 75px 10px);
    @include flex(start, center, column, NULL, NULL);
    position: absolute;
    background: white;
    z-index: 101;
    margin-right: auto;
    top: 0;
    right: -300px;

    & > *{ 
        @include size(100%, auto, 2.5px 0, 0); 
    }
}

.nav-menu-dropdown.active{
    right: 0;
}