@import '../../../App-styles/mixins';
@import '../../../App-styles/variables';

.nav-menu-dropdown{
    @include size(220px, 100vh, 0, 75px 10px);
    @include flex(start, center, column, NULL, NULL);
    position: absolute;
    background: white;
    z-index: 101;
    margin-right: auto;
    top: 0;
    right: -300px;

    & > *{ 
        @include size(100%, auto, 2.5px 0, 0); 
    }

    .button-container{
        @include flex(center, center, column, NULL, NULL);
    }
}

.nav-menu-dropdown.active{
    right: 0;
}

@media only screen and (min-width: 870px){

    .nav-menu-dropdown, .nav-menu-dropdown.active{
        @include size(90%, 100%, 0, 0);
        @include flex(space-between, center, row, NULL, NULL);
        position: relative;
        right: 0;

        & > *{ 
            @include size(auto, auto, 0, 0); 
        }

        .menu-item-container{
            @include flex(center, center, NULL, NULL, NULL);
            @include size(auto, auto, 0, 0);
        }

        .button-container{
            @include size(auto, auto, 0, 0);
            @include flex(center, center, row, NULL, NULL);
        }
    }
}