@import '../../../App-styles/mixins';
@import '../../../App-styles/variables';

.menu-item{
    @include flex(center, start, column, NULL, NULL);
    position: relative;
    & > * {  margin: 8px; }

    .dropdown-heading{
        @include flex(start, center, NULL, NULL, NULL);
        margin: 0;
        width: 100%;
        .dropdown-icon{
            margin: 0 2px;
            transition: 0.3s ease-in-out all;
            border: none;
            background: transparent;
            transform: rotate(180deg);
            cursor: pointer;
        }
        .dropdown-icon.active{
            transform: rotate(0deg);
        }
    }

    .dropdown-item{
        overflow: hidden;
        transition: all 0.59s ease-in-out;
        margin: 0;
        max-height: 0;
    }
    .dropdown-item.active{
        max-height: 500px;
    }
    
    .dropdown-title{ 
        @include font(500, $GREY, 12px);
        margin: 10px 12px;
    }

    .link-item{
        @include font(500, $GREY, 12px);
        margin: 10px 12px;
        cursor: pointer;
    }
}

.menu-item.todo::before{
    content: url('../../../assets/icon-todo.svg');
    position: absolute;
    right: 100%;
    }

.menu-item.calender::before{
    content: url('../../../assets/icon-calendar.svg');
    position: absolute;
    right: 100%;
    }

.menu-item.reminders::before{
     content: url('../../../assets/icon-reminders.svg');
    position: absolute;
    right: 100%;
    }

.menu-item.planning::before{
    content: url('../../../assets/icon-planning.svg');
    position: absolute;
    right: 100%;
    }

@media only screen and (min-width: 740px) {
    .menu-item{
        .dropdown-title, .link-item{
            @include font(500, $BLACK, 15px)
        }
    }
}