@import '../../../App-styles/mixins';
@import '../../../App-styles/variables';

.nav-menu{
    @include size(100%, auto, 0, 0 25px);
    @include flex(space-between, center, NULL, NULL, NULL);
    border: 2px solid green;
    background: peachpuff;
    list-style: none;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-menu.masked{
    &::after{
        content: '';
        @include size(1000vw, 1000vh, 0, 0);
        inset: 0 0 0 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.59);
    }
}