@import '../../../App-styles/mixins';
@import '../../../App-styles/variables';

.cta-container{
    @include size(100%, auto, 0, 0);
    @include flex(start, center, column, NULL, NULL);
    & > *{
        margin: 12px; 
    }

    .cta-heading{
        @include font(700, $BLACK, 42px);
        text-align: center;
    }

    .cta-body{
        @include font(500, $GREY, 18px);
        text-align: center;
    }
}

@media only screen and (min-width: 740px) {
    .cta-container{
        @include size(100%, 80%, 0, 0 50px);
        @include flex(center, start, column, NULL, NULL);
        
        & > *{
            margin: 20px 0
        }

        .cta-heading{
            @include font(700, $BLACK, 72px);
            text-align: left;
        }
    
        .cta-body{
            @include font(500, $GREY, 28px);
            text-align: left;
        }
    }
}